@inherits LayoutComponentBase

<div class="page">
    <header>
        <div class="header-inner">
            <div class="header-brand">
                <h1>TrailerAutomation</h1>
            </div>
            <nav>
                <NavLink href="/sensors" Match="NavLinkMatch.Prefix">Sensors</NavLink>
                <NavLink href="/devices" Match="NavLinkMatch.Prefix">Devices</NavLink>
                <NavLink href="/history" Match="NavLinkMatch.Prefix">History</NavLink>
                <a href="/swagger" target="_blank">API</a>
            </nav>
            <div class="header-right">
                <span class="header-build">v@BuildVersion.Version</span>
            </div>
        </div>
    </header>

    <main class="container">
        @Body
    </main>
</div>
